#Captures outputs from deployment and logs them
name: Capture Deployment Outputs

on:
  push:
    branches:
      - main
    paths:
      - azure-network3.2.bicep

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: staging

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Azure Login
        uses: azure/login@v1
        
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy and Capture Outputs
        run: |
          az deployment group create \
            --resource-group NetRG2 \
            --template-file azure-network3.2.bicep \
            --parameters adminUsername='azureuser' adminPassword='${{ secrets.ADMIN_PASSWORD }}' \
            --query "properties.outputs"
